* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
}

/* INI ---> HEADER <--- INI  */
.cont-header {
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
    padding: 15px 60px;
}

.nav-a {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 29.38px;
    text-decoration: none;


    padding-left: 40px;

    transition: ease-in-out 500ms;
}

.nav-a:hover {
    color: #707B7C;
}
/* FIN ---> HEADER <--- FIN  */

/* .contenedor {
    border: 4px solid rebeccapurple;
} */

/* INI ---> BANNER <--- INI */
.cont-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;

    margin-top: 90px;
    margin-bottom: 50px;
}

.ban-tittle {
    font-size: 44px;
    font-weight: 700;
    color: #21243d;
}

.ban-resumen {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    color: #21243d;

    /* min-width: 510px; */
    /* max-width: 510px; */

    width: 510px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.ban-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.38px;
    color: #fff;
    text-transform: capitalize;

    background-color: #FF6464;
    border: none;
    border-radius: 2px;

    width: 238px;
    padding: 15px;

    transition: ease-in-out 500ms;
}

.ban-btn:hover {
    background-color: #FFBEBE;
    color: #21243d;
}

.ban-img {
    width: 243px;
    height: 243px;
    object-fit: cover;

    border-radius: 50%;
    margin-right: 20px;

    opacity: 0.8;

    transition: ease-in-out 500ms;

    box-shadow: -8px 15px 0px 1px rgba(229,231,232,0.75);
    -webkit-box-shadow: -8px 15px 0px 1px rgba(229,231,232,0.75);
    -moz-box-shadow: -8px 15px 0px 1px rgba(229,231,232,0.75);
}

.ban-img:hover {
    opacity: 1;
}
/* FIN ---> BANNER <--- FIN */

/* INI ---> POST <--- INI */
.contenedor-post-principal {
    background-color: #EDF7FA;
}

.cont-post {
    width: 75%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
}

.post-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.post-tittle h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.post-tittle a {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    
    text-decoration: none;
    color: #00A8CC;
}

.post-resumen {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.res-detalle {
    background-color: #fff;

    width: 380px;
    padding: 20px;

    /* width: 380px; */
    width: 44%;
}

.res-detalle h4 {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.res-fec-tema {
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
    border-right: 1px solid #000;
}

.res-fec-tema:nth-last-child(1) {
    border-right: 0;
}

.res-resumen {
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
}

/* FIN ---> POST <--- FIN */

/* INI ---> WORKS <--- INI */
.section-works {
    width: 75%;
    margin: auto;
}

.text-works {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    /* margin-bottom: 30px; */
}

.card div a img {
    width: 246px;
    height: 180px;
    border-radius: 8px;

    object-fit: cover;

    transition: ease-in-out 500ms;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card div a:hover {
    opacity: 0.8;
}

.container-detail {
    margin-left: 30px;
}

.container-detail p {
    margin-top: 20px;
    width: 100% !important;
}

.container-detail a h2 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
}

.label-dark {
    background-color: #142850;
    color: #fff;
    border-radius: 16px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 900;
}

.text-light {
    color: #8695a4;
    font-size: 20px;
    font-weight: 400;
}

.link-portafolio {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.link-portafolio:hover {
    color: #ff6464;
    text-decoration: underline;
}
/* FIN ---> WORKS <--- FIN */

footer {
    display: flex;
    flex-direction: column;
    padding: 90px;

    justify-content: center;
    align-items: center;

}

footer div a {
    text-decoration: none;
}

.foo-img {
    width: 30px;
    margin: 10px;

    transition: ease-in-out 500ms;
}

.foo-img:hover {
    opacity: 0.5;
}

.foo-txt {
    font-size: 14px;
    font-weight: 400;
}



@media only screen and (max-width: 480px) {
    /* INI ---> HEADER <--- INI  */
    .cont-header {
        padding: 5px 20px;
    }

    .nav-a {
        font-size: 16px;
        padding-left: 10px;
    }
    /* FIN ---> HEADER <--- FIN  */

    .contenedor {
        /* height: 600vh; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    /* INI ---> BANNER <--- INI */
    .cont-banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        width: 95%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .cont-banner-dos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ban-img {
        width: 170px;
        height: 170px;
        margin: 0;
        margin-bottom: 40px;
    }

    .ban-tittle {
        font-size: 32px;
        text-align: center;
    }

    .ban-resumen {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .ban-btn {
        width: 208px;
        padding: 10px;
    }
    /* FIN ---> BANNER <--- FIN */

    /* INI ---> POST <--- INI */
    .contenedor-post-principal {
        padding-bottom: 10px;
    }

    .cont-post {
        padding: 0;
        width: 95%;
        margin: auto;
    }

    .post-tittle {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .post-tittle a {
        display: none;
    }

    .post-resumen {
        margin-bottom: 30px;
    }

    .res-detalle {
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }

    .res-detalle h4 {
        font-size: 22px;
    }

    .res-fec-tema {
        font-size: 16px;
    }

    .res-resumen {
        font-size: 16px;
    }
    /* FIN ---> POST <--- FIN */

    /* INI ---> WORKS <--- INI */
    .section-works {
        width: 95%;
        margin: auto;
    }

    .text-works {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .card * {
        margin: 0;
    }

    .card div a img {
        width: 339px;
        height: 230px;
    }

    .container-detail a h2 {
        font-size: 24px;
    }

    .label-dark {
        font-size: 16px;
        padding: 3px 15px;
    }

    .text-light {
        font-size: 16px;

    }

    .resumen {
        font-size: 16px;
        margin-bottom: 20px;
    }
    /* FIN ---> WORKS <--- FIN */

    /* INI ---> FOOTER <--- INI */
    footer {
        margin-top: 45px;
        padding: 0;
        padding-top: 45px;
    }
    /* FIN ---> FOOTER <--- FIN */
}

@media only screen and (max-width: 992px) {
        /* INI ---> BANNER <--- INI */
    .cont-banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
        margin-bottom: 40px;
    }

    .cont-banner-dos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ban-img {
        margin: 0;
    }

    .ban-tittle {
        text-align: center;
    }

    .ban-resumen {
        text-align: center;
    }
    /* FIN ---> BANNER <--- FIN */

    /* INI ---> POST <--- INI */
    .res-detalle {
        width: 100%;
        margin-top: 15px;
    }
    /* FIN ---> POST <--- FIN */

    /* INI ---> WORKS <--- INI */
    .card {
        flex-direction: column;
        align-items: center;
    }

    .card div a img {
        width: 439px;
        height: 330px;
    }

    .container-detail {
        margin-left: 0;
    }

    .resumen {
        margin-bottom: 20px;
    }
    /* FIN ---> WORKS <--- FIN */

    /* INI ---> FOOTER <--- INI */
}

