body {
  font-family: 'Turret Road', cursive;
  /* font-family: 'Baloo Tammudu 2', cursive; */
  background-color: hsl(0, 7%, 83%);
}

.text-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2em;
}